*{
    padding: 0;
    margin: 0;
    
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
    padding: 1rem;
    margin-left: 1.5rem;
    
    
}

.float-right{
    float: right;
}

.container{
    
    margin: 0 auto;
    background-color: magenta;
    
}


h1{
    color: red;
    margin-top: 30px;
    font-size: 35px;
    margin-bottom: 30px;
}


img{
    vertical-align: middle;
}

.box{
    
    background-color:black;
    margin-bottom: 20px;
    margin-left: 100px;
    text-align: left;
    color: white;
}


img{
    width: 80px;
    height: 80px;
}

#titolo{
    text-align: center;
}

#lorem{
    margin-bottom: 30px;
    text-align: center;
}

